body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-color: rgb(61, 56, 56);
  border-radius: 0px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
header img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
header nav a {
  text-decoration: none;
  font-family: "Arial Narrow Bold", sans-serif;
  color: rgb(129, 202, 11);
  margin-right: 30px;
}
header nav a:hover {
  color: rgb(54, 253, 4);
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tektur", cursive;
  height: 100vh;
  color: white;
  height: 100vh;
  background-image: linear-gradient(
    to left bottom,
    #363434,
    #484545,
    #5a5856,
    #6c6b69,
    #7f7f7c,
    #898b88,
    #939694,
    #9ea2a1,
    #a4a7a8,
    #abacad,
    #b1b2b2,
    #b7b7b7
  );
}
.hero-section img {
  height: 300px;
  width: 300px;
}
.hero-section div p {
  margin-bottom: 30px;
}
.hero-section div button {
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 150px;
  color: rgb(48, 45, 45);
  font-size: medium;
  border-radius: 20px;
  background-color: transparent;
  font-weight: bold;
  border-style: 2px solid black;
}
.hero-section div button:hover {
  background-color: rgb(133, 160, 175);
  color: rgb(0, 0, 0);
}
.aboutme {
  height: 100vh;
  background-image: url("bgimg.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}
.aboutme div .container {
  display: flex;
  justify-content: space-evenly;
  font-family: "Arial Narrow Bold", sans-serif;
  padding: 20px;
  border: none;
}
.aboutme div .col {
  display: flex;
  justify-content: center;
  width: 230px;
}
.aboutme div .card {
  border: none;
  color: rgb(187, 182, 182);
}
.aboutme h3 {
  font-weight: bolder;
  font-family: "Anton", sans-serif;
  color: rgb(159, 157, 190);
  text-align: center;
  align-items: center;
  letter-spacing: 5px;
}
.card-title {
  font-weight: bolder;
}
footer {
  background-color: rgb(102, 96, 96);
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: 3px solid;
  position: relative;
}
footer .footer-content {
  display: flex;
  width: 800px;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  align-items: center;
  color: rgb(0, 0, 0);
}
footer .footer-content div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
footer .footer-content div a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
footer .footer-content div a:hover {
  color: rgb(175, 160, 160);
}
footer .footer-content p {
  position: absolute;
  bottom: 0;
  left: auto;
  right: auto;
  font-size: smaller;
  color: rgb(0, 0, 0);
}
